[run]
branch = true
source = .
omit = */migrations/*
        */wsgi.py
        manage.py
        .tox/*
        */apps.py
        */urls.py
        */tests.py
        export/*

[report]
show_missing = true
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
