[run]
branch = true
source = .
parallel = true
concurrency = multiprocessing
omit = */migrations/*
        */management/*
        analysis_framework/widgets/*
        apps/bulk_data_migration/v1_2/*
        deep/s3_storages.py
        sitecustomize.py
        entry/widgets/*
        __init.py__
        */wsgi.py
        manage.py
        .tox/*
        **/apps.py
        **/urls.py
        **/tests.py
        **/test_*.py
        export/*

[report]
show_missing = true
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
