Django==1.11.4
psycopg2
djangorestframework==3.6.4
djangorestframework_simplejwt==2.1
djangorestframework-camel-case
coreapi
pygments
markdown
django-rest-swagger
django-reversion
channels
asgi_redis
celery[redis]
