Django==1.11.4
psycopg2
djangorestframework==3.6.4
djangorestframework_simplejwt==2.1
djangorestframework-camel-case==0.2.0
coreapi==2.3.1
Pygments==2.2.0
Markdown==2.6.9
django-rest-swagger==2.1.2
django-reversion==2.0.10
channels==1.1.8
redis==2.10.6
asgi-redis==1.4.3
celery[redis]==4.1.0
codecov==2.0.9
