{% extends "base_email.html" %}
{% block body %}
    {% if welcome %}
        <p>
            Welcome to DEEP.
        </p>
        <p>
            You may start using your account by your password using the link below:
        </p>
        {% else %}
        <p>
            It seems you've forgotten your DEEP password.
        </p>
        <p>
            Please go to the following page and create a new one:
        </p>
    {% endif %}
    <a
        class="link"
        href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
        >
        Reset your password
    </a>
{% endblock %}
