{% extends "registration/base_email.html" %}
{% block container %}
    {% if welcome %}
        <p>
            Before you can start using your account, you’ll first need to create a password.
            You can do this by clicking on the link below:
        </p>
    {% else %}
        <p>
            It seems you've forgotten your DEEP password.
        </p>
        <p>
            You can reset it by clicking on the link below.
            If you didn’t request to reset your password, you may simply ignore this email.
        </p>
    {% endif %}
    <a
        class="link"
        href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
        >
        Reset your password
    </a>
{% endblock %}
