{% extends "registration/base_email.html" %}

{% block head %}
    <style>
        .reset-link {
            margin: 12px 0;
        }
    </style>
{% endblock %}

{% block container %}
    {% if welcome %}
        <p>
            Before you can start using your account, you’ll first need to create a password.
            You can do this by clicking on the link below:
        </p>
    {% else %}
        <p>
            It seems you've forgotten your DEEP password.
        </p>
        <p>
            You can reset it by clicking on the link below.
            If you didn’t request to reset your password, you may simply ignore this email.
        </p>
    {% endif %}
    <a
        class="button-like-link reset-link"
        href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
        >
        {% if welcome %}Set your password{% else %}Reset your password{% endif %}
    </a>
{% endblock %}
