
{% block container %}
    <p>
        Your password has been changed successfully.
        Time:{{time}}
        Location:{{location}}
        Device:{{device}}
        If you are aware of this change, you can disregard this email.
        If this was not triggered by you, click the button below to reset your password.
        <a class="button-link"
        href="{{ protocol }}://{{client_domain}}/password-reset/"
        >
        Reset Password
        </a>
        <br>
        Incase yo like to change your password
        <a class="button-link"
        href="{{ protocol }}://{{client_domain}}/users/me/change-password/">
            Change Password
        </a>
    </p>
{% endblock%}
