{% extends "base_email.html" %}

{% block head %}
    <style>
        .actions {
            padding-top: 24px;
        }

        .user-replies {
            padding-left: 5px;
        }

        .question {
            margin-top: 36px;
        }

        .button-container {
            padding: 12px 0 24px;
        }

        .button {
            margin: 0 6px;
        }
    </style>
{% endblock %}

{% block title %}
    Request to join {{ project.title }}
{% endblock %}

{% block body %}
    <p>
        Hi there {{ user.first_name }},
    </p>
    <span>{{ request_by.get_display_name }} ({{ request_by.get_display_email }}) </span>
        has requested to join the project
    <span> {{ project.title }}.</span>
    <p class="question">
        <span class="bold">Why does the user want to join this project?</span>
    </p>
    <p>
        <span class="user-replies">{{ reason }}</span>
    </p>

    <div class="actions-container">
       <p> Since you are an administrator of the project, you may choose to: </p>
        <div class="button-container">
            <a
                class="button"
                href="{{ protocol }}://{{ domain }}{% url 'accept_project_confirm' uidb64=uid pidb64=pid token=token %}"
                >
                Add user
            </a>
            <a
                class="secondary-button"
                href="{{ protocol }}://{{ domain }}{% url 'accept_project_confirm' uidb64=uid pidb64=pid token=token %}?accept=false"
                >
                Reject Request
            </a>
        </div>
    </div>
{% endblock %}
