{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{block.super}}

    <style>
        #container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        #header {
            background: #273646;
            flex-shrink: 0;
        }

        #content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            overflow-y: auto;
        }
    </style>
{% endblock %}

{% block content %}

<div class="description">
    <img
        class="logo"
        width="160"
        height="160"
        src="https://beta.thedeep.io/deep-logo-grey.png"
    />
    {% if success %}
        {% if accept %}
            <p>
                Successfully added
                <strong>{{ join_request.requested_by }}</strong>
                to the project
                <strong>{{join_request.project}}</strong>
                .
            </p>
        {% else %}
            <p>
                Rejected request from
                <strong>{{ join_request.requested_by }}</strong>
                for project
                <strong>{{join_request.project}}</strong>.
            </p>
        {% endif %}
    {% else %}
        <p>
	    Oops, project join request is expired or already accepted/rejected. Please view your notifications panel in DEEP for further details.
	</p>
    {% endif %}
    </div>

    <div class="actions-container" >
        <a class="goto-url" href="{{frontend_url}}">Goto Deep</a>

        {% if project_url %}
            <a class="goto-url" href="{{project_url}}">View Project Panel</a>
        {% endif %}
    </div>

{% endblock %}
