{% extends "base_email.html" %}

{% block head %}
    <style>
        .actions {
            padding-top: 24px;
        }

        .user-replies {
            padding-left: 5px;
        }

        .button-container {
            padding: 12px 0 24px;
        }

        .button {
            margin: 0 6px;
        }

        .reject {
            background-color: #d3575e;
        }
    </style>
{% endblock %}

{% block body %}
    <p>
        <span class="bold">{{ request_by.profile.get_display_name }} ({{ request_by.email }}) </span>
            has requested to join the project
        <span class="bold"> {{ project.title }}.</span>
    </p>

    <p>
        <span class="bold">About {{ request_by.profile.get_display_name }}?</span>
    </p>
    <p>
        <span class="user-replies">{{ about_requester }}</span>
    </p>

    <p>
        <span class="bold">What contributions can you expect from him/her?</span>
    </p>
    <p>
        <span class="user-replies">{{ expected_contribution }}</span>
    </p>

    <div class="actions">
       <p class="unsubscribe"> Since you are an administrator of the project, you may choose to: </p>
        <div class="button-container">
            <a
                class="button"
                href="{{ protocol }}://{{ domain }}{% url 'accept_project_confirm' uidb64=uid pidb64=pid token=token %}"
                >
                Add user
            </a>
            <a
                class="button reject"
                href="{{ protocol }}://{{ domain }}{% url 'accept_project_confirm' uidb64=uid pidb64=pid token=token %}?accept=false"
                >
                Reject Request
            </a>
        </div>
    </div>
{% endblock %}
