{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <style>

        #header {
            background: #273646;
        }

        input[type=submit], input[type=button] {
            background: #273646;
        }

        #branding h1 {
            color: white;
        }

        .breadcrumbs, .selector-chosen h2, .module h2, .module caption, .inline-group h2 {
            background: #304356 !important;
        }

        #content-related .module h2 {
            color: white;
        }

        .selector .selector-available h2, .help {
            color: #b7b4b4 !important;
        }

        /* FIXME: fix this */
        .goto-url {
            padding: 10px;
            color: #b7b4b4 !important;
            background: #273646;
        }

    </style>
{% endblock %}

{% block branding %}
<h1 id="site-name">{{ nav_title|default:'DEEP' }}</h1>
{% endblock %}
{% block breadcrumbs %} {% endblock %}

{% block title %}{{ title|default:'DEEP' }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
