{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        #container {
            height: 100vh;
            width: 100vw;
            overflow: hidden;
        }

        #content {
            padding: 0;
            height: calc(100vh - 60px);
        }

        .welcome {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .list-item {
            display: block;
        }

        .list-item:before {
            content: '•';
            padding-right: 8px;
        }

        .doc {
            display: flex;
            align-items: center;
        }

        .icon {
            padding: 0 4px;
            width: 16px;
            height: 16px;
        }
    </style>
{% endblock %}
{% block content %}

<div class="welcome">
    <h1>THIS IS DEEP API ENDPOINT</h1>
    <p>Useful links:</p>
    <ul>
    <li class="list-item">Go to Deep Website: <a href="{{frontend_url}}">{{frontend_url}}</a></li>
    <li class="list-item">Go to Deep Admin: <a href="/admin">Admin Panel</a></li>
    <li class="doc list-item">
        Go to Deep API Documentation:
        <a
            class="icon"
            href="/api-docs/"
        >
            <image class="icon" alt="Swagger" src="{% static 'drf-yasg/swagger-ui-dist/favicon-32x32.png' %}"/>
        </a>
        <a
            class="icon"
            href="/redoc/"
        >
            <image class="icon" alt="ReDoc" src="{% static 'drf-yasg/redoc/redoc-logo.png' %}"/>
        </a>
    </li>
    </ul>
</div>

{% endblock %}
